<div class="small-3 medium-3 columns"><span class="js-edit-name">{{ name }}</span></div>
<div class="small-3 medium-3 columns"><span>{{ minWorkload }}</span></div>
<div class="small-3 medium-3 columns"><span>{{ maxWorload }}</span></div>
<div class="small-3 medium-3 columns"><span>{{ currentWorkload }}</span></div>
<div class="medium-1 columns">
  <a href="#positions/{{ id }}" class="tiny hollow button js-show-position">
    <i class="fa fa-eye"></i>
    Exibir
  </a>
</div>
<div class="medium-1 columns">
  <a href="#positions/{{ id }}/edit" class="tiny hollow button js-edit-position">
    <i class="fa fa-pencil"></i>
    Editar
  </a>
</div>
<div class="medium-1 columns">
  <button class="tiny hollow button radius js-delete-position">
    <i class="fa fa-remove"></i>
    Apagar
  </button>
</div>
