<div class="small-3 medium-3 columns"><span class="js-edit-name">{{ name }}</span></div>
<div class="small-3 medium-3 columns"><span>{{ login }}</span></div>
<div class="small-3 medium-3 columns"><span>{{ admissionDate }}</span></div>
<div class="medium-1 columns">
  <a href="#teachers/{{ id }}" class="tiny hollow button js-show-teacher">
    <i class="fa fa-eye"></i>
    Exibir
  </a>
</div>
<div class="medium-1 columns">
  <a href="#teachers/{{ id }}/edit" class="tiny hollow button js-edit-teacher">
    <i class="fa fa-pencil"></i>
    Editar
  </a> 
</div>
<div class="medium-1 columns">
  <button class="tiny hollow button radius js-delete-teacher">
    <i class="fa fa-remove"></i>
    Apagar
  </button>
</div>