<div class="small-3 medium-3 columns">{{ name }}</div>
<div class="small-3 medium-3 columns">{{ login }}</div>
<div class="small-3 medium-3 columns">{{ admissionDate }}</div>
<div class="medium-1 columns">
  <a href="#teachers/{{ id }}" class="tiny hollow button js-show">
    <i class="fa fa-eye"></i>
    Exibir
  </a>
</div>
<div class="medium-1 columns">
  <a href="#teachers/{{ id }}/edit" class="tiny hollow button js-edit">
    <i class="fa fa-pencil"></i>
    Editar
  </a> 
</div>
<div class="medium-1 columns">
  <button class="tiny hollow button radius js-delete">
    <i class="fa fa-remove"></i>
    Apagar
  </button>
</div>