<div class="col-md-3">{{ name }}</div>
<div class="col-md-3">{{ login }}</div>
<div class="col-md-3">{{ admissionDate }}</div>
<div class="col-md-1">
  <a href="#teachers/{{ id }}" class="btn btn-small js-show">
    <i class="fa fa-eye"></i>
    Exibir
  </a>
</div>
<div class="col-md-1">
  <a href="#teachers/{{ id }}/edit" class="btn btn-small js-edit">
    <i class="fa fa-pencil"></i>
    Editar
  </a> 
</div>
<div class="col-md-1">
  <button class="btn btn-small js-delete">
    <i class="fa fa-remove"></i>
    Apagar
  </button>
</div>